.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weather-App {
 background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  opacity:0.9;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
form {
  display: block;
  margin-top: 0;
}

.search-form-Input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
main {
  padding: 30px 0;
}

.app-data {
  display: flex;
  justify-content: space-between;
  height: 10px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 16px;
  color: black; 
}